{% extends 'AppBundle:layouts:layout.html.twig' %}

{% block javascripts %}
    {{parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}

{% block content %}
		<section class="cover-sec">
			<img src="{{ asset('assets/images/coco.jpg')}}" />
		</section>
		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar">
									<div class="user_profile">
									{% for img in imagen %}
										<div class="user-pro-img" style="margin-left: 23px;">

											     {%if img.user.image == null %}
                                                        <img src="{{ asset('assets/images/default.png')}}" />
                                                  {%else%}
                                                        <img src="{{ asset('uploads/users/'~img.user.image)}}" />
                                                  {%endif%}
										</div><!--user-pro-img end-->
									{% endfor %}
										<div class="user_pro_status">
											<ul class="flw-hr">
												<li class="btn btn-success">
													<a href="#"><ion-icon name="person-add"></ion-icon> Segir</a>
												</li>
												<!-- <li><a href="#" title="" class="hre">Hire</a></li> -->
											</ul>
											{% set user_stats = user|user_stats %}
                                        <ul class="user-fw-status">
                                            <li>
                                                 <h4>Siguiendo</h4>
                                                <span>{{user_stats.following}}</span>
                                            </li>
                                            <li>
                                                <h4>Seguidores</h4>
                                                <span>{{user_stats.followers}}</span>
                                            </li>
                                            <li>
                                                <h4>Publicationes</h4>
                                                <span>{{user_stats.publications}}</span>
                                            </li>
                                            <li>
                                                <h4>Estrella</h4>
                                                <span>{{user_stats.likes}}</span>
                                            </li>
                                        </ul>
										</div><!--user_pro_status end-->
										
									</div><!--user_profile end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								     <div class="box-content">
                                {% for publication in pagination %}
                                    <div class="posts-section" id="post">
                                        <div class="post-bar">
                                            <div class="post_topbar">
                                                <div class="usy-dt">
                                                        {%if publication.user.image == null %}
                                                          <img style=" width: 50px; height: 50px;" src="{{asset('assets/images/default.png')}}" />
                                                      {%else%}
                                                           <img style=" width: 50px; height: 50px;" src="{{ asset('uploads/users/'~publication.user.image)}}" />
                                                      {%endif%}
                                                    <div class="usy-name">
                                                    	<a href="{{ path('user_profile', {'nickname':publication.user.nick}) }}">
                                                           <h3>{{publication.user.name}} {{publication.user.surname}}</h3>
                                                        </a>
                                                        <span><ion-icon name="time"></ion-icon>&nbsp {{ publication.createdAt|long_time }}</span>
                                                    </div>
                                                </div>

                                               {%if (publication.user.id is defined) and (publication.user.id == app.user.id) %}

                                                <div class="ed-opts">
                                                   <li><a id="option" class="btn-delete-pub" data-id="{{publication.id}}"  title=""><ion-icon name="trash"></ion-icon></span>&nbsp Eliminar</a></li>
                                                </div>
                                                {%endif%}
                                            </div>
                                            
                                            <div class="job_descp">
                                                <!-- <h3>Hora</h3> -->
                                                <h3></h3>
                                                <p>{{publication.text}} &nbsp<!-- <a href="#" title="">ver mas</a> --></p>
                                                
                                                {% if(publication.document is defined) and (publication.document != null)%}
                                                    <a href="{{ asset('uploads/publications/documents/'~publication.document)}}"
                                                       class="btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank">
                                                    </a>
                                                {%endif%}
                                                
                                                {% if(publication.image is defined) and (publication.image != null)%}
                                                    <div class="clearfix"></div>
                                                    <div class="pub-image">
                                                       <img  style="width: 497px;" src="{{ asset('uploads/publications/images/'~publication.image)}}" />
                                                    </div>
                                                {%endif%}
                                            </div>

                                            <div class="job-status-bar">
                                                <ul class="like-com">
                                                    <li class="start">
                                                        <a data-id="{{publication.id}}" 
                                                        class="btn-start cli
                                                        {% if app.user|liked(publication)== true %}
                                                            hidden
                                                        {% endif %}
                                                        "
                                                        style="font-weight: bold; font-size: bold;"
                                                         >
                                                        <ion-icon name="star-outline" style="font-size: 1.5em;"></ion-icon></i>
                                                            Me estrella
                                                        </a>

                                                        <a data-id="{{publication.id}}" 
                                                        class="btn-unstart cli
                                                        {% if app.user|liked(publication)== false %}
                                                            hidden
                                                        {% endif %}
                                                        "
                                                        style="color:orange; font-weight: bold; font-size: bold;"
                                                         >
                                                        <ion-icon name="star-outline" style="font-size: 1.5em;"></ion-icon></i>
                                                            Me estrella
                                                        </a>
                                                       <!--  <span>25</span> -->
                                                    </li>
                                                   <!-- <li><a href="#" title="" class="com"><ion-icon name="chatboxes"></ion-icon>&nbsp Comment 15</a></li> -->
                                                </ul>
                                               <!--  <a><ion-icon name="eye"></ion-icon>&nbspVistos 50</a> -->
                                            </div>
                                        </div><!-- post-bar end -->
    
                                    </div><!-- posts-section end -->
                                    {% endfor %}
                                 
                                    <div class="job-status-bar">
                                        <div class="navigation">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div> <!-- box-content  end -->
							</div>
							<div class="col-lg-3">
								<div class="right-sidebar">
									<div class="message-btn pb-5 pl-6">
										<a class="btn btn-danger" href="#" title=""><ion-icon name="mail"></ion-icon> Mensaje</a>
									</div>
									<div class="widget widget-portfolio">
										<div class="wd-heady">
											<h3>Portfolio</h3>
											<img src="images/photo-icon.png" alt="">
										</div>
										<div class="pf-gallery">
											<ul>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
												<li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
										 	   <li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
											   <li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
										       <li><a href="#" title=""><img src="{{ asset('assets/images/default.png')}}"  alt=""></a></li>
											</ul>
										</div><!--pf-gallery end-->
									</div><!--widget-portfolio end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>

{% endblock %}