{% extends 'AppBundle:layouts:layout.html.twig' %}
{% block javascripts %}
	{{ parent() }} <!-- cargar los javascript del layout principal -->
     <script type="text/javascript" src="{{ asset('assets/js/custom/nick-test.js') }}"></script><!-- incluye le nuevo js -->
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="register col-xs-12 col-md-8 col-lg-8">
				<h1>Binvenido a SocialTecnicos</h1>
				<hr>
				<h3>Registrate</h3>
	            <button class="btn btn-primary">Registrate</button> 
			</div>
			<div class="box-form col-xs-6 col-md-4 col-lg-4">
				<h2>Registrate</h2>
				<hr/>
				{{form_start(form, {'action':'','method':'POST'})}}
				{{form_errors(form)}}
				{{form_end(form)}}
			</div>
     	</div>
	</div>
{% endblock %}
