{% extends 'AppBundle:layouts:layout.html.twig' %}
{% block javascripts %}
    {{parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}
{% block content %}
   <div class="main-section"> <!-- color #2196F3 -->
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                                <div class="main-left-sidebar no-margin">
                                    <div class="user-data full-width">
                                        <div class="user-profile">
                                            <div class="username-dt">
                                                <div class="usr-pic">
                                                   {%if app.user.image == null %}
                                                        <img src="{{ asset('assets/images/default.png')}}" />
                                                  {%else%}
                                                        <img src="{{ asset('uploads/users/'~app.user.image)}}" />
                                                  {%endif%}
                                                </div>
                                            </div><!--username-dt end-->
                                            <div class="user-specs">
                                                <h3> {{app.user.name}} {{app.user.surname}}</h3>
                                                <span> {{app.user.nick}} </span>
                                            </div>
                                        </div><!--user-profile end-->
                                        <ul class="user-fw-status">
                                            <li>
                                                <!-- <h4>Siguiendo</h4>
                                                <span>34</span> -->
                                            </li>
                                            <li>
                                                <!-- <h4>Seguidores</h4>
                                                <span>155</span> -->
                                            </li>
                                            <li>
                                                <a href="#" title="">Ver Perfil</a>
                                            </li>
                                        </ul>
                                    </div><!--user-data end-->
                                    <div class="suggestions full-width">
                                        <div class="sd-title">
                                            <h3>Sugerencias</h3>
                                            <i class="la la-ellipsis-v"></i>
                                        </div><!--sd-title end-->
                                        <div class="suggestions-list">
                                            <div class="suggestion-usd">
                                                <img src="images/resources/s1.png" alt="">
                                                <div class="sgt-text">
                                                    <h4>{{app.user.name}}</h4>
                                                    <span>{{app.user.bio}}</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="view-more">
                                                <a href="#" title="">Ver Mas</a>
                                            </div>
                                        </div><!--suggestions-list end-->
                                    </div><!--suggestions end-->
                                    
                                </div><!--main-left-sidebar end-->
                            </div>
                            <div class="col-lg-6 col-md-8 no-pd">
                                <div class="main-ws-sec">
                                    <div class="post-topbar">             
                                        <div class="user-picy ">
                                            {%if app.user.image == null %}
                                                <img src="{{ asset('assets/images/default.png')}}" />
                                            {%else%}
                                                <img src="{{ asset('uploads/users/'~app.user.image)}}" />
                                            {%endif%}
                                         <div class="post mt-4">
                                           <h4>Crear tu publicación</h4>
                                        </div>
                                        </div>
                                        <div class="post-st">
                                            <ul>
                                                <li class="">
                                                {{ form_start (form,{action:'','method':'POST'}) }}
                                                {{ form_end (form)}}
                                               </li>
                                                <!-- <li><a class="post_project" href="#" title="">Publica</a></li>
                                                <li><a class="post-jb active" href="#" title="">Post </a></li> -->
                                            </ul>
                                        </div><!--post-st end-->
                                    </div><!--post-topbar end-->
                             <div class="box-content">
                                {% for publication in pagination %}
                                    <div class="posts-section" id="post">
                                        <div class="post-bar">
                                            <div class="post_topbar">
                                                <div class="usy-dt">
                                                        {%if publication.user.image == null %}
                                                          <img style=" width: 50px; height: 50px;" src="{{asset('assets/images/default.png')}}" />
                                                      {%else%}
                                                           <img style=" width: 50px; height: 50px;" src="{{ asset('uploads/users/'~publication.user.image)}}" />
                                                      {%endif%}
                                                    <div class="usy-name">
                                                        <h3>{{publication.user.name}} {{publication.user.surname}}</h3>
                                                        <span><img src="images/clock.png" alt="">{{ publication.createdAt|long_time }}</span>
                                                    </div>
                                                </div>

                                               {%if (publication.user.id is defined) and (publication.user.id == app.user.id) %}

                                                <div class="ed-opts">
                                                   <li><a id="option" class="btn-delete-pub" data-id="{{publication.id}}"  title=""><ion-icon name="trash"></ion-icon></span>&nbsp Eliminar</a></li>
                                                </div>
                                                {%endif%}
                                            </div>
                                            
                                            <div class="job_descp">
                                                <h3>Hora</h3>
                                                <p>{{publication.text}} &nbsp<a href="#" title="">ver mas</a></p>
                                                
                                                {% if(publication.document is defined) and (publication.document != null)%}
                                                    <a href="{{ asset('uploads/publications/documents/'~publication.document)}}"
                                                       class="btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank">
                                                    </a>
                                                {%endif%}
                                                
                                                {% if(publication.image is defined) and (publication.image != null)%}
                                                    <div class="clearfix"></div>
                                                    <div class="pub-image">
                                                       <img  style="width: 497px;" src="{{ asset('uploads/publications/images/'~publication.image)}}" />
                                                    </div>
                                                {%endif%}
                                            </div>

                                            <div class="job-status-bar">
                                                <ul class="like-com">
                                                    <li>
                                                        <a href="#"><ion-icon name="star-outline"></ion-icon></i>Star</a>
                                                        <span>25</span>
                                                    </li> 
                                                    <li><a href="#" title="" class="com"><ion-icon name="chatboxes"></ion-icon> Comment 15</a></li>
                                                </ul>
                                                <a><ion-icon name="eye"></ion-icon>Vistos 50</a>
                                            </div>
                                        </div><!--post-bar end-->
    
                                    </div><!--posts-section end-->
                                    {% endfor %}
                                 </div>
                                    <div class="job-status-bar">
                                        <div class="navigation">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div><!--main-ws-sec end-->
                            </div>
                        
                            <div class="col-lg-3 pd-right-none no-pd">
                                <div class="right-sidebar">
                                    <div class="widget suggestions full-width">
                                        <div class="sd-title">
                                            <h3>Encuentra mas personas</h3>
                                            <i class="la la-ellipsis-v"></i>
                                        </div><!--sd-title end-->
                                        <div class="suggestions-list">
                                            <div class="suggestion-usd">
                                                <img src="images/resources/s1.png" alt="">
                                                <div class="sgt-text">
                                                    <h4>{{app.user.name}}</h4>
                                                    <span>Graphic Designer</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="view-more">
                                                <a href="#" title="">Ver Mas</a>
                                            </div>
                                        </div><!--suggestions-list end-->
                                    </div>
                                </div><!--right-sidebar end-->
                            </div>
                        </div>
                    </div><!-- main-section-data end-->
                </div> 
            </div>
{% endblock %}